apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-backend-dep
spec:
  replicas: 1
  selector:
    matchLabels:
      app: todo-backend
  template:
    metadata:
      labels:
        app: todo-backend
    spec:
      volumes:
        - name: todo-vol
          persistentVolumeClaim:
            claimName: image-claim
      containers:
        - name: todo-backend
          image: fialco/todo-backend:1.0.6
          env:
            - name: PORT
              value: "3000"
          volumeMounts:
            - name: todo-vol
              mountPath: /usr/src/app/files
