apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: project
  name: todo-app-dep
spec:
  replicas: 1
  selector:
    matchLabels:
      app: todo-app
  template:
    metadata:
      labels:
        app: todo-app
    spec:
      volumes:
        - name: todo-vol
          persistentVolumeClaim:
            claimName: image-claim
      containers:
        - name: todo-app
          image: fialco/todo-app:1.5.0
          imagePullPolicy: IfNotPresent
          env:
            - name: PORT
              value: "5173"
            - name: baseUrl
              value: "http://todo-backend-svc"
          volumeMounts:
            - name: todo-vol
              mountPath: /usr/src/app/files
